# 1

In [6]:
x= ["aa","ba","ca","da"]
print(x[2:3])

['ca']

In [9]:
i = 1
while i <= 9:
    result = 2 * i
    print(f"2 x {i} = {result}")
    i += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [17]:
base =2
i = 0

while i <= 9:
    result = base * i
    print(f"{base} x {i} = {result}")
    i += 1
    
base =2
i = 0

while i <= 9:
    if i==9:
        break
    i += 1
    result = base * i
    print(f"{base} x {i} = {result}")
    
base =2
i = 0

while i <= 9:
    i += 1
    result = base * i
    print(f"{base} x {i} = {result}")
    if i==9:
        break

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [15]:
base =2
i = 0
while i <= 10:
    i += 1
    result = base * i
    print(f"{base} x {i} = {result}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22

# 2

In [25]:
class enemy():
    def attack():
        print("attack")
    def __init__(self):
        self.hp = 100
        # self.attack = 50
        self.defense = 10
        
en1 = enemy()
en1.attack()

TypeError: attack() takes 0 positional arguments but 1 was given

# 3

import numpy as np
A= np.array([[1,2,3],[4,5,6],[7,8,9]])

np.sum(A)

In [31]:
import numpy as np
A= np.array([[1,2,3],[4,5,6],[7,8,9]])

np.sum(A)
np.sum(A,axis = 0)
np.sum(A,axis = 1)
# np.sum(A,axis =2)

array([ 6, 15, 24])

In [33]:
def step(x):
    return np.array(x>0,dtype = np.int)
step(np.array([1,2,3,-1,-2,-3]))

/var/folders/gr/mj8jt14x71nbw99jxv7rzx7m0000gn/T/ipykernel_56640/2437608185.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  return np.array(x>0,dtype = np.int)

array([1, 1, 1, 0, 0, 0])

In [35]:
def step(x):
    if x>0:
        return 1
    else:
        return 0
step(np.array([1,2,3,-1,-2,-3]))

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

# 4

In [ ]:
inport pandas as pd
inport pandas as pd 

# サンプルデータでデータフレームを作成
df = pd.DataFrame({'列名1': [値1, 値2, 値3],
                   '列名2': [値4, 値5, 値6],
                   '列名3': [値7, 値8, 値9]})




df.info()
df.describe()

In [38]:
import pandas as pd
df = pd.DataFrame({
    "name":["John","Zack","Emily"],
    "age":[23,34,45],
    "city":["New York","Los Angeles","San Francisco"]
})
df.info()
df.describe()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

    name  age           city
0   John   23       New York
1   Zack   34    Los Angeles
2  Emily   45  San Francisco

In [40]:
import pandas as pd

# DataFrameを作成
df = pd.DataFrame({'num': [1, 2, 3, 4],
                   'price': [50, 120, 80, 150],
                   'sugarconntent': [10, 20, 15, 30]})

df.head()

# 条件を満たす行のnumとsugarconntentの列を取得
result = df[df['price'] > 100][['num', 'sugarconntent']]

result

   num  sugarconntent
1    2             20
3    4             30

In [41]:
df.head()

   num  price  sugarconntent
0    1     50             10
1    2    120             20
2    3     80             15
3    4    150             30

In [45]:
df[df['price'] > 100][['num', 'sugarconntent']]

   num  sugarconntent
1    2             20
3    4             30

In [46]:
df[df['price'] > 100]['num', 'sugarconntent']

KeyError: ('num', 'sugarconntent')